.singleview-container {
  margin-left: 300px;
  margin-bottom: 10px;
}

.single-image-view {
  max-width: 500px;
  max-height: 500px;
  border-radius: 25px;
  border: 4px solid white;
}

.singleview-title {
  margin-bottom: 50px;
}