.main-container {
  margin: 0 auto;
}

.flex-wrap {
  justify-content: center;
  color: black;
}

.search-bar {
  width: 925px;
  border: white;
  margin-top: 20px;
}

h1 {
  font-weight: bold;
}

//  body {
//    height: 100vh;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//    position: relative;
//    height: 100%;
//  }
