// .gear-item-image {
//   max-width: 350px;
//   max-height: 300px;
// }

// .container {
//   display: flex;
// }

.gear-item-image {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.card {
  min-height: 500px;
  color: black;
  border: 4px solid white;
}

.card:hover {
  box-shadow: 10px 10px 30px white;
}

.edit {
  margin-right: 20px;
  width: 54px;
  height: 48px;
}

.card-text {
  font-weight: bold;
}
