.keep-working {
  border: pink solid 5px;
}

.pie-chart-div {
  background-color: tan;
  border: black solid 10px;
}

.recharts-element {
  border: white solid 7px;
}

.pie-itself {
  border: blue solid 2px;
}

.cell-element {
  border: red solid 2px;
}